## Spark (using pyspark and sql spark different operation on test and train data)

## Build spark session

**Spark Script for Reading CSV Data**
This script demonstrates how to read a CSV file into a Spark DataFrame and explore its contents using SparkSession.

* 1. Spark Session Initialization:

Imports the SparkSession class from pyspark.sql.
Creates a new SparkSession using the builder method.
Sets the application name to "Read CSV into DataFrame" for identification in the Spark UI and logs (optional).
Calls getOrCreate() to create a new SparkSession if it doesn't exist, or retrieve the existing one if it does.
Stores the SparkSession in the variable spark.
 * 2.  Reading CSV File:

Uses the spark.read.csv method to read the CSV file named "test.csv" into a DataFrame.
Sets the header=True option (optional but recommended) to indicate that the CSV file has a header row containing column names.
* 3. Exploring the DataFrame:

Calls df.printSchema() to print the DataFrame schema, which shows the names and data types of each column.
Calls df.show() to display the first few rows of the DataFrame, providing a glimpse of the data content.
Running the Script:

In [1]:
# Import SparkSession
from pyspark.sql import SparkSession

# Create SparkSession 
spark = SparkSession.builder \
      .master("local[1]") \
      .appName("SparkByExamples.com") \
      .getOrCreate() 
type(spark)

pyspark.sql.session.SparkSession

In [2]:
spark.stop

In [7]:
# Create RDD from external Data source
rdd = spark.sparkContext.textFile("C:/bigdata/source/projectbigdata/test.csv")
rdd.count()

207

## Reading test and train data using spark and Data Exploration

In [2]:
from pyspark.sql import SparkSession

# Initialize Spark session
spark = SparkSession.builder.appName("PySparkExample").getOrCreate()

# Read test and train CSV files into DataFrames
test_df = spark.read.csv("C:/bigdata/source/projectbigdata/test.csv", header=True, inferSchema=True)
train_df = spark.read.csv("C:/bigdata/source/projectbigdata/train.csv", header=True, inferSchema=True)

# Drop rows with null values
test_df_clean = test_df.na.drop()
train_df_clean = train_df.na.drop()

# Show schema and data without null values
test_df_clean.printSchema()
test_df_clean.show()

train_df_clean.printSchema()
train_df_clean.show()

root
 |-- User_ID: integer (nullable = true)
 |-- Age: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Platform: string (nullable = true)
 |-- Daily_Usage_Time (minutes): integer (nullable = true)
 |-- Posts_Per_Day: integer (nullable = true)
 |-- Likes_Received_Per_Day: integer (nullable = true)
 |-- Comments_Received_Per_Day: integer (nullable = true)
 |-- Messages_Sent_Per_Day: integer (nullable = true)
 |-- Dominant_Emotion: string (nullable = true)

+-------+---+----------+---------+--------------------------+-------------+----------------------+-------------------------+---------------------+----------------+
|User_ID|Age|    Gender| Platform|Daily_Usage_Time (minutes)|Posts_Per_Day|Likes_Received_Per_Day|Comments_Received_Per_Day|Messages_Sent_Per_Day|Dominant_Emotion|
+-------+---+----------+---------+--------------------------+-------------+----------------------+-------------------------+---------------------+----------------+
|    500| 27|    Female| Snapchat|                       120|            4|                    40|                       18|                   22|         Neutral|
|    488| 21|Non-binary| Snapchat|                        60|            1|                    18|                        7|                   12|         Neutral|
|    776| 28|Non-binary| Snapchat|                       115|            3|                    38|                       18|                   27|         Anxiety|
|    869| 27|      Male| Telegram|                       105|            3|                    48|                       20|                   28|         Anxiety|
|    573| 21|Non-binary| Facebook|                        55|            3|                    17|                        7|                   12|         Neutral|
|    428| 25|    Female|Instagram|                       160|            6|                    85|                       26|                   30|       Happiness|
|    528| 25|    Female|Instagram|                       160|            6|                    85|                       26|                   30|       Happiness|
|    773| 21|Non-binary| Facebook|                        55|            3|                    17|                        7|                   12|         Neutral|
|    382| 24|Non-binary| Snapchat|                        85|            3|                    33|                       20|                   18|       Happiness|
|    505| 33|      Male| LinkedIn|                        45|            1|                    10|                        5|                   12|         Boredom|
|     20| 32|    Female|Instagram|                       140|            5|                    70|                       22|                   33|       Happiness|
|    444| 23|Non-binary| Facebook|                       105|            2|                    25|                       12|                   18|         Neutral|
|    720| 32|    Female|Instagram|                       140|            6|                    75|                       28|                   30|       Happiness|
|    328| 25|    Female|Instagram|                       160|            6|                    85|                       26|                   30|       Happiness|
|    372| 35|      Male|  Twitter|                        70|            1|                    13|                        8|                   10|         Boredom|
|    555| 31|      Male| LinkedIn|                        60|            1|                    15|                        7|                   17|         Anxiety|
|    181| 31|      Male| Telegram|                        50|            2|                    20|                       10|                   12|         Sadness|
|    413| 34|      Male| LinkedIn|                        65|            1|                    14|                        6|                   15|         Boredom|
|    132| 28|      Male|Instagram|                       145|            5|                    75|                       20|                   35|       Happiness|
|    743| 29|      Male|  Twitter|                        95|            4|                    50|                       22|                   22|           Anger|
+-------+---+----------+---------+--------------------------+-------------+----------------------+-------------------------+---------------------+----------------+
only showing top 20 rows

root
 |-- User_ID: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Platform: string (nullable = true)
 |-- Daily_Usage_Time (minutes): integer (nullable = true)
 |-- Posts_Per_Day: integer (nullable = true)
 |-- Likes_Received_Per_Day: integer (nullable = true)
 |-- Comments_Received_Per_Day: integer (nullable = true)
 |-- Messages_Sent_Per_Day: integer (nullable = true)
 |-- Dominant_Emotion: string (nullable = true)

+-------+---+----------+---------+--------------------------+-------------+----------------------+-------------------------+---------------------+----------------+
|User_ID|Age|    Gender| Platform|Daily_Usage_Time (minutes)|Posts_Per_Day|Likes_Received_Per_Day|Comments_Received_Per_Day|Messages_Sent_Per_Day|Dominant_Emotion|
+-------+---+----------+---------+--------------------------+-------------+----------------------+-------------------------+---------------------+----------------+
|      1| 25|    Female|Instagram|                       120|            3|                    45|                       10|                   12|       Happiness|
|      2| 30|      Male|  Twitter|                        90|            5|                    20|                       25|                   30|           Anger|
|      3| 22|Non-binary| Facebook|                        60|            2|                    15|                        5|                   20|         Neutral|
|      4| 28|    Female|Instagram|                       200|            8|                   100|                       30|                   50|         Anxiety|
|      5| 33|      Male| LinkedIn|                        45|            1|                     5|                        2|                   10|         Boredom|
|      6| 21|      Male|Instagram|                       150|            4|                    60|                       15|                   25|       Happiness|
|      7| 27|    Female|  Twitter|                        85|            3|                    30|                       10|                   18|           Anger|
|      8| 24|Non-binary| Facebook|                       110|            6|                    25|                       12|                   22|         Sadness|
|      9| 29|    Female| LinkedIn|                        55|            2|                    10|                        3|                    8|         Neutral|
|     10| 31|      Male|Instagram|                       170|            5|                    80|                       20|                   35|       Happiness|
|     11| 23|    Female|  Twitter|                        75|            4|                    35|                        7|                   20|         Anxiety|
|     12| 26|Non-binary| Facebook|                        95|            3|                    20|                       10|                   18|         Sadness|
|     13| 34|      Male| LinkedIn|                        65|            1|                    12|                        4|                   15|         Boredom|
|     14| 22|    Female|Instagram|                       180|            7|                    90|                       25|                   40|       Happiness|
|     15| 28|      Male|  Twitter|                       100|            6|                    40|                       23|                   28|           Anger|
|     16| 21|Non-binary| Facebook|                        40|            1|                     5|                        2|                   10|         Neutral|
|     17| 35|    Female|Instagram|                       125|            4|                    55|                       18|                   30|         Anxiety|
|     18| 27|      Male|  Twitter|                        90|            3|                    33|                       15|                   25|         Sadness|
|     19| 23|Non-binary| LinkedIn|                        50|            1|                     8|                        3|                   12|         Neutral|
|     20| 32|    Female|Instagram|                       140|            5|                    70|                       22|                   33|       Happiness|
+-------+---+----------+---------+--------------------------+-------------+----------------------+-------------------------+---------------------+----------------+
only showing top 20 rows

## Schema Display

In [6]:
from pyspark.sql import SparkSession

# Initialize Spark session
spark = SparkSession.builder.appName("ReadCSVExample").getOrCreate()

# Read data from the CSV file with a header row
file_path = "C:/bigdata/source/projectbigdata/test.csv"  # Ensure this is the correct path to your CSV file
df = spark.read.csv(file_path, header=True, inferSchema=True)

# Drop rows with null values
test_df_clean = test_df.na.drop()


# Show the DataFrame schema and data
test_df_clean.printSchema()
test_df_clean.show()

root
 |-- User_ID: integer (nullable = true)
 |-- Age: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Platform: string (nullable = true)
 |-- Daily_Usage_Time (minutes): integer (nullable = true)
 |-- Posts_Per_Day: integer (nullable = true)
 |-- Likes_Received_Per_Day: integer (nullable = true)
 |-- Comments_Received_Per_Day: integer (nullable = true)
 |-- Messages_Sent_Per_Day: integer (nullable = true)
 |-- Dominant_Emotion: string (nullable = true)

+-------+---+----------+---------+--------------------------+-------------+----------------------+-------------------------+---------------------+----------------+
|User_ID|Age|    Gender| Platform|Daily_Usage_Time (minutes)|Posts_Per_Day|Likes_Received_Per_Day|Comments_Received_Per_Day|Messages_Sent_Per_Day|Dominant_Emotion|
+-------+---+----------+---------+--------------------------+-------------+----------------------+-------------------------+---------------------+----------------+
|    500| 27|    Female| Snapchat|                       120|            4|                    40|                       18|                   22|         Neutral|
|    488| 21|Non-binary| Snapchat|                        60|            1|                    18|                        7|                   12|         Neutral|
|    776| 28|Non-binary| Snapchat|                       115|            3|                    38|                       18|                   27|         Anxiety|
|    869| 27|      Male| Telegram|                       105|            3|                    48|                       20|                   28|         Anxiety|
|    573| 21|Non-binary| Facebook|                        55|            3|                    17|                        7|                   12|         Neutral|
|    428| 25|    Female|Instagram|                       160|            6|                    85|                       26|                   30|       Happiness|
|    528| 25|    Female|Instagram|                       160|            6|                    85|                       26|                   30|       Happiness|
|    773| 21|Non-binary| Facebook|                        55|            3|                    17|                        7|                   12|         Neutral|
|    382| 24|Non-binary| Snapchat|                        85|            3|                    33|                       20|                   18|       Happiness|
|    505| 33|      Male| LinkedIn|                        45|            1|                    10|                        5|                   12|         Boredom|
|     20| 32|    Female|Instagram|                       140|            5|                    70|                       22|                   33|       Happiness|
|    444| 23|Non-binary| Facebook|                       105|            2|                    25|                       12|                   18|         Neutral|
|    720| 32|    Female|Instagram|                       140|            6|                    75|                       28|                   30|       Happiness|
|    328| 25|    Female|Instagram|                       160|            6|                    85|                       26|                   30|       Happiness|
|    372| 35|      Male|  Twitter|                        70|            1|                    13|                        8|                   10|         Boredom|
|    555| 31|      Male| LinkedIn|                        60|            1|                    15|                        7|                   17|         Anxiety|
|    181| 31|      Male| Telegram|                        50|            2|                    20|                       10|                   12|         Sadness|
|    413| 34|      Male| LinkedIn|                        65|            1|                    14|                        6|                   15|         Boredom|
|    132| 28|      Male|Instagram|                       145|            5|                    75|                       20|                   35|       Happiness|
|    743| 29|      Male|  Twitter|                        95|            4|                    50|                       22|                   22|           Anger|
+-------+---+----------+---------+--------------------------+-------------+----------------------+-------------------------+---------------------+----------------+
only showing top 20 rows

In [7]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

# Initialize Spark session
spark = SparkSession.builder.appName("CSV to DataFrame").getOrCreate()

# Define the schema for  DataFrame
schema = StructType([
    StructField("User_ID", IntegerType(), True),
    StructField("Age", IntegerType(), True),
    StructField("Gender", StringType(), True),
    StructField("Platform", StringType(), True),
    StructField("Daily_Usage_Time (minutes)", IntegerType(), True),
    StructField("Posts_Per_Day", IntegerType(), True),
    StructField("Likes_Received_Per_Day", IntegerType(), True),
    StructField("Comments_Received_Per_Day", IntegerType(), True),
    StructField("Messages_Sent_Per_Day", IntegerType(), True),
    StructField("Dominant_Emotion", StringType(), True)
])

# Read the CSV file into a DataFrame
df = spark.read.csv("test.csv", header=False, schema=schema)
# Drop rows with null values
test_df_clean = test_df.na.drop()

# Display the DataFrame
test_df_clean.show()

# Stop the SparkSession if you created one in this script
#spark.stop()

+-------+---+----------+---------+--------------------------+-------------+----------------------+-------------------------+---------------------+----------------+
|User_ID|Age|    Gender| Platform|Daily_Usage_Time (minutes)|Posts_Per_Day|Likes_Received_Per_Day|Comments_Received_Per_Day|Messages_Sent_Per_Day|Dominant_Emotion|
+-------+---+----------+---------+--------------------------+-------------+----------------------+-------------------------+---------------------+----------------+
|    500| 27|    Female| Snapchat|                       120|            4|                    40|                       18|                   22|         Neutral|
|    488| 21|Non-binary| Snapchat|                        60|            1|                    18|                        7|                   12|         Neutral|
|    776| 28|Non-binary| Snapchat|                       115|            3|                    38|                       18|                   27|         Anxiety|
|    869| 27|      Male| Telegram|                       105|            3|                    48|                       20|                   28|         Anxiety|
|    573| 21|Non-binary| Facebook|                        55|            3|                    17|                        7|                   12|         Neutral|
|    428| 25|    Female|Instagram|                       160|            6|                    85|                       26|                   30|       Happiness|
|    528| 25|    Female|Instagram|                       160|            6|                    85|                       26|                   30|       Happiness|
|    773| 21|Non-binary| Facebook|                        55|            3|                    17|                        7|                   12|         Neutral|
|    382| 24|Non-binary| Snapchat|                        85|            3|                    33|                       20|                   18|       Happiness|
|    505| 33|      Male| LinkedIn|                        45|            1|                    10|                        5|                   12|         Boredom|
|     20| 32|    Female|Instagram|                       140|            5|                    70|                       22|                   33|       Happiness|
|    444| 23|Non-binary| Facebook|                       105|            2|                    25|                       12|                   18|         Neutral|
|    720| 32|    Female|Instagram|                       140|            6|                    75|                       28|                   30|       Happiness|
|    328| 25|    Female|Instagram|                       160|            6|                    85|                       26|                   30|       Happiness|
|    372| 35|      Male|  Twitter|                        70|            1|                    13|                        8|                   10|         Boredom|
|    555| 31|      Male| LinkedIn|                        60|            1|                    15|                        7|                   17|         Anxiety|
|    181| 31|      Male| Telegram|                        50|            2|                    20|                       10|                   12|         Sadness|
|    413| 34|      Male| LinkedIn|                        65|            1|                    14|                        6|                   15|         Boredom|
|    132| 28|      Male|Instagram|                       145|            5|                    75|                       20|                   35|       Happiness|
|    743| 29|      Male|  Twitter|                        95|            4|                    50|                       22|                   22|           Anger|
+-------+---+----------+---------+--------------------------+-------------+----------------------+-------------------------+---------------------+----------------+
only showing top 20 rows

## Read test.csv in pandaDataframe

In [8]:
import pandas as pd
from pyspark.sql import SparkSession
from datetime import datetime, date

# Initialize Spark session
spark = SparkSession.builder.appName("CSV to Spark DataFrame").getOrCreate()

# Define the path to your CSV file
csv_file_path = 'test.csv'

# Read the CSV file into a Pandas DataFrame
pandas_df = pd.read_csv(csv_file_path, header=None, names=[
    "User_ID", "Age", "Gender", "Platform", "Daily_Usage_Time (minutes)",
    "Posts_Per_Day", "Likes_Received_Per_Day", "Comments_Received_Per_Day",
    "Messages_Sent_Per_Day", "Dominant_Emotion"
])

# Convert the Pandas DataFrame to a Spark DataFrame
test_df = spark.createDataFrame(pandas_df)
# Drop rows with null values
test_df_clean = test_df.na.drop()
# Display the Spark DataFrame
test_df_clean.show()

# Stop the SparkSession
#spark.stop()

+-------+---+----------+---------+--------------------------+-------------+----------------------+-------------------------+---------------------+----------------+
|User_ID|Age|    Gender| Platform|Daily_Usage_Time (minutes)|Posts_Per_Day|Likes_Received_Per_Day|Comments_Received_Per_Day|Messages_Sent_Per_Day|Dominant_Emotion|
+-------+---+----------+---------+--------------------------+-------------+----------------------+-------------------------+---------------------+----------------+
|User_ID|Age|    Gender| Platform|      Daily_Usage_Time ...|Posts_Per_Day|  Likes_Received_Pe...|     Comments_Received...| Messages_Sent_Per...|Dominant_Emotion|
|    NaN|NaN|       NaN|      NaN|                       NaN|          NaN|                   NaN|                      NaN|                  NaN|             NaN|
|    500| 27|    Female| Snapchat|                       120|            4|                    40|                       18|                   22|         Neutral|
|    NaN|NaN|       NaN|      NaN|                       NaN|          NaN|                   NaN|                      NaN|                  NaN|             NaN|
|    488| 21|Non-binary| Snapchat|                        60|            1|                    18|                        7|                   12|         Neutral|
|    NaN|NaN|       NaN|      NaN|                       NaN|          NaN|                   NaN|                      NaN|                  NaN|             NaN|
|    776| 28|Non-binary| Snapchat|                       115|            3|                    38|                       18|                   27|         Anxiety|
|    NaN|NaN|       NaN|      NaN|                       NaN|          NaN|                   NaN|                      NaN|                  NaN|             NaN|
|    869| 27|      Male| Telegram|                       105|            3|                    48|                       20|                   28|         Anxiety|
|    NaN|NaN|       NaN|      NaN|                       NaN|          NaN|                   NaN|                      NaN|                  NaN|             NaN|
|    573| 21|Non-binary| Facebook|                        55|            3|                    17|                        7|                   12|         Neutral|
|    NaN|NaN|       NaN|      NaN|                       NaN|          NaN|                   NaN|                      NaN|                  NaN|             NaN|
|    428| 25|    Female|Instagram|                       160|            6|                    85|                       26|                   30|       Happiness|
|    NaN|NaN|       NaN|      NaN|                       NaN|          NaN|                   NaN|                      NaN|                  NaN|             NaN|
|    528| 25|    Female|Instagram|                       160|            6|                    85|                       26|                   30|       Happiness|
|    NaN|NaN|       NaN|      NaN|                       NaN|          NaN|                   NaN|                      NaN|                  NaN|             NaN|
|    773| 21|Non-binary| Facebook|                        55|            3|                    17|                        7|                   12|         Neutral|
|    NaN|NaN|       NaN|      NaN|                       NaN|          NaN|                   NaN|                      NaN|                  NaN|             NaN|
|    382| 24|Non-binary| Snapchat|                        85|            3|                    33|                       20|                   18|       Happiness|
|    NaN|NaN|       NaN|      NaN|                       NaN|          NaN|                   NaN|                      NaN|                  NaN|             NaN|
+-------+---+----------+---------+--------------------------+-------------+----------------------+-------------------------+---------------------+----------------+
only showing top 20 rows

## Data Transformation with Grouping and Aggregation

In [9]:
from pyspark.sql.functions import col, avg, count

# Filtering data
filtered_test_df = test_df.filter(test_df["Daily_Usage_Time (minutes)"] > 100)

# Grouping and Aggregating data
grouped_train_df = train_df.groupBy("Platform").agg(
    avg("Daily_Usage_Time (minutes)").alias("avg_daily_usage_time"),
    count("User_ID").alias("user_count")
)
# Drop rows with null values
grouped_train_df_clean = grouped_train_df.na.drop()
# Show the grouped and aggregated DataFrame
grouped_train_df_clean.show()

+---------+--------------------+----------+
| Platform|avg_daily_usage_time|user_count|
+---------+--------------------+----------+
|Instagram|               153.4|       250|
|  Twitter|               83.75|       200|
| Snapchat|                90.0|        80|
| LinkedIn|  55.833333333333336|       120|
| Whatsapp|                87.5|        80|
| Telegram|              78.125|        80|
| Facebook|   72.10526315789474|       190|
+---------+--------------------+----------+

## Selecting Specific Columns

In [16]:
# Select specific columns
selected_test_df = test_df.select("User_ID", "Age", "Gender")

# Drop rows with null values
test_df_clean = selected_test_df.na.drop()
test_df_clean.show()

+-------+---+----------+
|User_ID|Age|    Gender|
+-------+---+----------+
|User_ID|Age|    Gender|
|    NaN|NaN|       NaN|
|    500| 27|    Female|
|    NaN|NaN|       NaN|
|    488| 21|Non-binary|
|    NaN|NaN|       NaN|
|    776| 28|Non-binary|
|    NaN|NaN|       NaN|
|    869| 27|      Male|
|    NaN|NaN|       NaN|
|    573| 21|Non-binary|
|    NaN|NaN|       NaN|
|    428| 25|    Female|
|    NaN|NaN|       NaN|
|    528| 25|    Female|
|    NaN|NaN|       NaN|
|    773| 21|Non-binary|
|    NaN|NaN|       NaN|
|    382| 24|Non-binary|
|    NaN|NaN|       NaN|
+-------+---+----------+
only showing top 20 rows

 ## SQL Queries

In [3]:
# Register DataFrames as temporary views
test_df.createOrReplaceTempView("test")
train_df.createOrReplaceTempView("train")

# Run SQL queries
result_df = spark.sql("SELECT * FROM test WHERE `Daily_Usage_Time (minutes)` > 100")
selected_columns_df = result_df.select("Daily_Usage_Time (minutes)")
print("SQL Query Result:")
# Show the result
selected_columns_df.show()

#result_df.show()

SQL Query Result:
+--------------------------+
|Daily_Usage_Time (minutes)|
+--------------------------+
|                       120|
|                       115|
|                       105|
|                       160|
|                       160|
|                       140|
|                       105|
|                       140|
|                       160|
|                       145|
|                       120|
|                       140|
|                       115|
|                       145|
|                       165|
|                       120|
|                       120|
|                       115|
|                       105|
|                       120|
+--------------------------+
only showing top 20 rows

## Joining DataFrames

In [12]:
# Join test and train DataFrames on User_ID
joined_df = test_df.join(train_df, test_df["User_ID"] == train_df["User_ID"], "inner")
print("Joined DataFrame:")
joined_df.show()

Joined DataFrame:
+-------+---+----------+---------+--------------------------+-------------+----------------------+-------------------------+---------------------+----------------+-------+---+----------+---------+--------------------------+-------------+----------------------+-------------------------+---------------------+----------------+
|User_ID|Age|    Gender| Platform|Daily_Usage_Time (minutes)|Posts_Per_Day|Likes_Received_Per_Day|Comments_Received_Per_Day|Messages_Sent_Per_Day|Dominant_Emotion|User_ID|Age|    Gender| Platform|Daily_Usage_Time (minutes)|Posts_Per_Day|Likes_Received_Per_Day|Comments_Received_Per_Day|Messages_Sent_Per_Day|Dominant_Emotion|
+-------+---+----------+---------+--------------------------+-------------+----------------------+-------------------------+---------------------+----------------+-------+---+----------+---------+--------------------------+-------------+----------------------+-------------------------+---------------------+----------------+
|    500| 27|    Female| Snapchat|                       120|            4|                    40|                       18|                   22|         Neutral|    500| 27|    Female| Snapchat|                       120|            4|                    40|                       18|                   22|         Neutral|
|    488| 21|Non-binary| Snapchat|                        60|            1|                    18|                        7|                   12|         Neutral|    488| 21|Non-binary| Snapchat|                        60|            1|                    18|                        7|                   12|         Neutral|
|    776| 28|Non-binary| Snapchat|                       115|            3|                    38|                       18|                   27|         Anxiety|    776| 28|Non-binary| Snapchat|                       115|            3|                    38|                       18|                   27|         Anxiety|
|    776| 28|Non-binary| Snapchat|                       115|            3|                    38|                       18|                   27|         Anxiety|    776| 28|Non-binary| Snapchat|                       115|            3|                    38|                       18|                   27|         Anxiety|
|    869| 27|      Male| Telegram|                       105|            3|                    48|                       20|                   28|         Anxiety|    869| 27|      Male| Telegram|                       105|            3|                    48|                       20|                   28|         Anxiety|
|    573| 21|Non-binary| Facebook|                        55|            3|                    17|                        7|                   12|         Neutral|    573| 21|Non-binary| Facebook|                        55|            3|                    17|                        7|                   12|         Neutral|
|    428| 25|    Female|Instagram|                       160|            6|                    85|                       26|                   30|       Happiness|    428| 25|    Female|Instagram|                       160|            6|                    85|                       26|                   30|       Happiness|
|    528| 25|    Female|Instagram|                       160|            6|                    85|                       26|                   30|       Happiness|    528| 25|    Female|Instagram|                       160|            6|                    85|                       26|                   30|       Happiness|
|    773| 21|Non-binary| Facebook|                        55|            3|                    17|                        7|                   12|         Neutral|    773| 21|Non-binary| Facebook|                        55|            3|                    17|                        7|                   12|         Neutral|
|    382| 24|Non-binary| Snapchat|                        85|            3|                    33|                       20|                   18|       Happiness|    382| 24|Non-binary| Snapchat|                        85|            3|                    33|                       20|                   18|       Happiness|
|    505| 33|      Male| LinkedIn|                        45|            1|                    10|                        5|                   12|         Boredom|    505| 33|      Male| LinkedIn|                        45|            1|                    10|                        5|                   12|         Boredom|
|     20| 32|    Female|Instagram|                       140|            5|                    70|                       22|                   33|       Happiness|     20| 32|    Female|Instagram|                       140|            5|                    70|                       22|                   33|       Happiness|
|    444| 23|Non-binary| Facebook|                       105|            2|                    25|                       12|                   18|         Neutral|    444| 23|Non-binary| Facebook|                       105|            2|                    25|                       12|                   18|         Neutral|
|    720| 32|    Female|Instagram|                       140|            6|                    75|                       28|                   30|       Happiness|    720| 32|    Female|Instagram|                       140|            6|                    75|                       28|                   30|       Happiness|
|    328| 25|    Female|Instagram|                       160|            6|                    85|                       26|                   30|       Happiness|    328| 25|    Female|Instagram|                       160|            6|                    85|                       26|                   30|       Happiness|
|    372| 35|      Male|  Twitter|                        70|            1|                    13|                        8|                   10|         Boredom|    372| 35|      Male|  Twitter|                        70|            1|                    13|                        8|                   10|         Boredom|
|    555| 31|      Male| LinkedIn|                        60|            1|                    15|                        7|                   17|         Anxiety|    555| 31|      Male| LinkedIn|                        60|            1|                    15|                        7|                   17|         Anxiety|
|    181| 31|      Male| Telegram|                        50|            2|                    20|                       10|                   12|         Sadness|    181| 31|      Male| Telegram|                        50|            2|                    20|                       10|                   12|         Sadness|
|    413| 34|      Male| LinkedIn|                        65|            1|                    14|                        6|                   15|         Boredom|    413| 34|      Male| LinkedIn|                        65|            1|                    14|                        6|                   15|         Boredom|
|    132| 28|      Male|Instagram|                       145|            5|                    75|                       20|                   35|       Happiness|    132| 28|      Male|Instagram|                       145|            5|                    75|                       20|                   35|       Happiness|
+-------+---+----------+---------+--------------------------+-------------+----------------------+-------------------------+---------------------+----------------+-------+---+----------+---------+--------------------------+-------------+----------------------+-------------------------+---------------------+----------------+
only showing top 20 rows

## Handling Missing Data

In [13]:
# Drop rows with any null values
test_df_cleaned = test_df.na.drop()

# Fill missing values with a specified value
train_df_filled = train_df.na.fill({"Posts_Per_Day": 0})

## Adding Columns

In [15]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, col
from pyspark.sql.types import IntegerType

# Initialize Spark session
spark = SparkSession.builder.appName("ApplyUDFExample").getOrCreate()

# Read the CSV file
df = spark.read.csv("test.csv", header=True, inferSchema=True)

# Define a simple UDF
def square(x):
    if x is not None:
        return x * x
    else:
        return None

# Register the UDF
square_udf = udf(square, IntegerType())

# Apply the UDF to create a new column
df_with_square = df.withColumn("squared_usage_time", square_udf(col("Daily_Usage_Time (minutes)")))

# Select only the columns you want to display
selected_columns_df = df_with_square.select("Daily_Usage_Time (minutes)", "squared_usage_time")
# Drop rows with any null values
test_df_cleaned = selected_columns_df.na.drop()
# Show the result
#test_df_cleaned.show()
test_df_cleaned.show()

+--------------------------+------------------+
|Daily_Usage_Time (minutes)|squared_usage_time|
+--------------------------+------------------+
|                       120|             14400|
|                        60|              3600|
|                       115|             13225|
|                       105|             11025|
|                        55|              3025|
|                       160|             25600|
|                       160|             25600|
|                        55|              3025|
|                        85|              7225|
|                        45|              2025|
|                       140|             19600|
|                       105|             11025|
|                       140|             19600|
|                       160|             25600|
|                        70|              4900|
|                        60|              3600|
|                        50|              2500|
|                        65|              4225|
|                       145|             21025|
|                        95|              9025|
+--------------------------+------------------+
only showing top 20 rows

 ## User-Defined Functions (UDFs)

In [17]:
from pyspark.sql import SparkSession
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number

# Initialize Spark session
spark = SparkSession.builder.appName("PySparkExample").getOrCreate()

# Read test CSV file into DataFrame
test_df = spark.read.csv("C:/bigdata/source/projectbigdata/test.csv", header=True, inferSchema=True)

# Drop rows with null values
test_df_clean = test_df.na.drop()

# Define window specification
window_spec = Window.partitionBy("Platform").orderBy("Daily_Usage_Time (minutes)")

# Add row number
test_df_with_row_number = test_df_clean.withColumn("Row_Number", row_number().over(window_spec))

# Select specific columns including the new row number column
selected_columns_df = test_df_with_row_number.select("Platform", "Daily_Usage_Time (minutes)", "Row_Number")

# Display the DataFrame with the selected columns
selected_columns_df.show()

+--------+--------------------------+----------+
|Platform|Daily_Usage_Time (minutes)|Row_Number|
+--------+--------------------------+----------+
|Facebook|                        40|         1|
|Facebook|                        45|         2|
|Facebook|                        55|         3|
|Facebook|                        55|         4|
|Facebook|                        60|         5|
|Facebook|                        60|         6|
|Facebook|                        60|         7|
|Facebook|                        60|         8|
|Facebook|                        60|         9|
|Facebook|                        65|        10|
|Facebook|                        70|        11|
|Facebook|                        70|        12|
|Facebook|                        75|        13|
|Facebook|                        75|        14|
|Facebook|                        75|        15|
|Facebook|                        75|        16|
|Facebook|                        80|        17|
|Facebook|                        80|        18|
|Facebook|                        80|        19|
|Facebook|                        85|        20|
+--------+--------------------------+----------+
only showing top 20 rows

## New column addition

In [14]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import lit, col

# Initialize Spark session
spark = SparkSession.builder.appName("AddColumnsExample").getOrCreate()

# Read the CSV file
test_df = spark.read.csv("test.csv", header=True, inferSchema=True)

# Add a constant value column
test_df_with_const = test_df.withColumn("new_column_const", lit(100))

# Add a derived column
test_df_with_derived = test_df.withColumn("new_column_derived", col("Daily_Usage_Time (minutes)") * 2)
test_df_with_const = df.na.drop()
# Show the result with constant value column
test_df_with_const.show()
# Drop rows with any null values
test_df_with_derived = df.na.drop()

# Show the result with derived column
test_df_with_derived.show()

+-------+---+----------+---------+--------------------------+-------------+----------------------+-------------------------+---------------------+----------------+
|User_ID|Age|    Gender| Platform|Daily_Usage_Time (minutes)|Posts_Per_Day|Likes_Received_Per_Day|Comments_Received_Per_Day|Messages_Sent_Per_Day|Dominant_Emotion|
+-------+---+----------+---------+--------------------------+-------------+----------------------+-------------------------+---------------------+----------------+
|    500| 27|    Female| Snapchat|                       120|            4|                    40|                       18|                   22|         Neutral|
|    488| 21|Non-binary| Snapchat|                        60|            1|                    18|                        7|                   12|         Neutral|
|    776| 28|Non-binary| Snapchat|                       115|            3|                    38|                       18|                   27|         Anxiety|
|    869| 27|      Male| Telegram|                       105|            3|                    48|                       20|                   28|         Anxiety|
|    573| 21|Non-binary| Facebook|                        55|            3|                    17|                        7|                   12|         Neutral|
|    428| 25|    Female|Instagram|                       160|            6|                    85|                       26|                   30|       Happiness|
|    528| 25|    Female|Instagram|                       160|            6|                    85|                       26|                   30|       Happiness|
|    773| 21|Non-binary| Facebook|                        55|            3|                    17|                        7|                   12|         Neutral|
|    382| 24|Non-binary| Snapchat|                        85|            3|                    33|                       20|                   18|       Happiness|
|    505| 33|      Male| LinkedIn|                        45|            1|                    10|                        5|                   12|         Boredom|
|     20| 32|    Female|Instagram|                       140|            5|                    70|                       22|                   33|       Happiness|
|    444| 23|Non-binary| Facebook|                       105|            2|                    25|                       12|                   18|         Neutral|
|    720| 32|    Female|Instagram|                       140|            6|                    75|                       28|                   30|       Happiness|
|    328| 25|    Female|Instagram|                       160|            6|                    85|                       26|                   30|       Happiness|
|    372| 35|      Male|  Twitter|                        70|            1|                    13|                        8|                   10|         Boredom|
|    555| 31|      Male| LinkedIn|                        60|            1|                    15|                        7|                   17|         Anxiety|
|    181| 31|      Male| Telegram|                        50|            2|                    20|                       10|                   12|         Sadness|
|    413| 34|      Male| LinkedIn|                        65|            1|                    14|                        6|                   15|         Boredom|
|    132| 28|      Male|Instagram|                       145|            5|                    75|                       20|                   35|       Happiness|
|    743| 29|      Male|  Twitter|                        95|            4|                    50|                       22|                   22|           Anger|
+-------+---+----------+---------+--------------------------+-------------+----------------------+-------------------------+---------------------+----------------+
only showing top 20 rows

+-------+---+----------+---------+--------------------------+-------------+----------------------+-------------------------+---------------------+----------------+
|User_ID|Age|    Gender| Platform|Daily_Usage_Time (minutes)|Posts_Per_Day|Likes_Received_Per_Day|Comments_Received_Per_Day|Messages_Sent_Per_Day|Dominant_Emotion|
+-------+---+----------+---------+--------------------------+-------------+----------------------+-------------------------+---------------------+----------------+
|    500| 27|    Female| Snapchat|                       120|            4|                    40|                       18|                   22|         Neutral|
|    488| 21|Non-binary| Snapchat|                        60|            1|                    18|                        7|                   12|         Neutral|
|    776| 28|Non-binary| Snapchat|                       115|            3|                    38|                       18|                   27|         Anxiety|
|    869| 27|      Male| Telegram|                       105|            3|                    48|                       20|                   28|         Anxiety|
|    573| 21|Non-binary| Facebook|                        55|            3|                    17|                        7|                   12|         Neutral|
|    428| 25|    Female|Instagram|                       160|            6|                    85|                       26|                   30|       Happiness|
|    528| 25|    Female|Instagram|                       160|            6|                    85|                       26|                   30|       Happiness|
|    773| 21|Non-binary| Facebook|                        55|            3|                    17|                        7|                   12|         Neutral|
|    382| 24|Non-binary| Snapchat|                        85|            3|                    33|                       20|                   18|       Happiness|
|    505| 33|      Male| LinkedIn|                        45|            1|                    10|                        5|                   12|         Boredom|
|     20| 32|    Female|Instagram|                       140|            5|                    70|                       22|                   33|       Happiness|
|    444| 23|Non-binary| Facebook|                       105|            2|                    25|                       12|                   18|         Neutral|
|    720| 32|    Female|Instagram|                       140|            6|                    75|                       28|                   30|       Happiness|
|    328| 25|    Female|Instagram|                       160|            6|                    85|                       26|                   30|       Happiness|
|    372| 35|      Male|  Twitter|                        70|            1|                    13|                        8|                   10|         Boredom|
|    555| 31|      Male| LinkedIn|                        60|            1|                    15|                        7|                   17|         Anxiety|
|    181| 31|      Male| Telegram|                        50|            2|                    20|                       10|                   12|         Sadness|
|    413| 34|      Male| LinkedIn|                        65|            1|                    14|                        6|                   15|         Boredom|
|    132| 28|      Male|Instagram|                       145|            5|                    75|                       20|                   35|       Happiness|
|    743| 29|      Male|  Twitter|                        95|            4|                    50|                       22|                   22|           Anger|
+-------+---+----------+---------+--------------------------+-------------+----------------------+-------------------------+---------------------+----------------+
only showing top 20 rows

## uppercase

In [11]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import upper, col

# Initialize Spark session
spark = SparkSession.builder.appName("UpperCaseExample").getOrCreate()

# Read the CSV file
test_df = spark.read.csv("test.csv", header=True, inferSchema=True)

# Convert Platform column to uppercase
test_df_upper = test_df.withColumn("upper_platform", upper(col("Platform")))

# Remove rows with null values in the Platform column
test_df_upper_non_null = test_df_upper.na.drop(subset=["Platform"])

# Select the Platform and upper_platform columns
selected_columns_df = test_df_upper_non_null.select("Platform", "upper_platform")

# Show the result
selected_columns_df.show(truncate=False)

+---------+--------------+
|Platform |upper_platform|
+---------+--------------+
|Snapchat |SNAPCHAT      |
|Snapchat |SNAPCHAT      |
|Snapchat |SNAPCHAT      |
|Telegram |TELEGRAM      |
|Facebook |FACEBOOK      |
|Instagram|INSTAGRAM     |
|Instagram|INSTAGRAM     |
|Facebook |FACEBOOK      |
|Snapchat |SNAPCHAT      |
|LinkedIn |LINKEDIN      |
|Instagram|INSTAGRAM     |
|Facebook |FACEBOOK      |
|Instagram|INSTAGRAM     |
|Instagram|INSTAGRAM     |
|Twitter  |TWITTER       |
|LinkedIn |LINKEDIN      |
|Telegram |TELEGRAM      |
|LinkedIn |LINKEDIN      |
|Instagram|INSTAGRAM     |
|Twitter  |TWITTER       |
+---------+--------------+
only showing top 20 rows

## Pivot

In [20]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import expr

# Initialize Spark session
spark = SparkSession.builder.appName("PySparkExample").getOrCreate()

# Read train CSV file into DataFrame
train_df = spark.read.csv("C:/bigdata/source/projectbigdata/train.csv", header=True, inferSchema=True)

# Pivot table
pivot_df = train_df.groupBy("Age").pivot("Platform").avg("Daily_Usage_Time (minutes)")
print("Pivoted DataFrame:")
pivot_df.show()


# Unpivot table (melt)
from pyspark.sql.functions import expr

unpivot_df = pivot_df.select("Age", expr("stack(3, 'Instagram', Instagram, 'Facebook', Facebook, 'Twitter', Twitter) as (Platform, avg_daily_usage_time)"))
print("Unpivoted DataFrame:")
unpivot_df.show()

Pivoted DataFrame:
+--------------------+----+------------------+------------------+------------------+--------+--------+-----------------+--------+
|                 Age|null|          Facebook|         Instagram|          LinkedIn|Snapchat|Telegram|          Twitter|Whatsapp|
+--------------------+----+------------------+------------------+------------------+--------+--------+-----------------+--------+
|                  29|NULL| 70.88235294117646|              NULL|              57.5|    75.0|    NULL|             95.0|    90.0|
| ite mevcut veri...|NULL|              NULL|              NULL|              NULL|    NULL|    NULL|             NULL|    NULL|
|                  30|NULL|              NULL|             175.0|              NULL|    NULL|    NULL|83.33333333333333|    NULL|
|                  34|NULL|              NULL|             120.0|              65.0|    NULL|    80.0|             NULL|    NULL|
|                  22|NULL|              65.0|             147.5|              NULL|    75.0|    NULL|             70.0|    70.0|
|                  28|NULL|             100.0|170.35714285714286|              55.0|   115.0|    60.0|97.77777777777777|   100.0|
|                  35|NULL|              NULL|             125.0|              60.0|    NULL|    NULL|             70.0|   110.0|
|                NULL|NULL|              NULL|              NULL|              NULL|    NULL|    NULL|             NULL|    NULL|
|                  31|NULL|              80.0|             170.0|51.666666666666664|    NULL|    67.5|             NULL|    65.0|
|                  27|NULL| 54.44444444444444|             165.0|              55.0|   120.0|   105.0|86.66666666666667|    90.0|
|              Female|NULL|              NULL|             147.0|              NULL|   120.0|    NULL|             85.0|    83.0|
|                  26|NULL|              72.5|             150.0|              NULL|   120.0|    NULL|             75.0|    NULL|
|                  23|NULL|             105.0|              NULL|              50.0|    NULL|    NULL|             72.5|    70.0|
|                  25|NULL|              NULL|             150.0|              NULL|    NULL|    85.0|             90.0|    NULL|
|                  33|NULL|              65.0|             170.0|              45.0|    NULL|    NULL|             85.0|    NULL|
|                  24|NULL|             110.0|             140.0|              55.0|    85.0|    75.0|91.66666666666667|    NULL|
|                  32|NULL|              NULL|140.71428571428572|              NULL|    NULL|    NULL|             NULL|   105.0|
|          Non-binary|NULL|              68.0|              NULL|              NULL|    77.0|    80.0|             NULL|    NULL|
|                Male|NULL|              60.0|             165.0|              60.0|    NULL|    82.0|            76.25|    70.0|
|                  21|NULL|46.666666666666664|             140.0|              NULL|    60.0|    NULL|             90.0|    NULL|
+--------------------+----+------------------+------------------+------------------+--------+--------+-----------------+--------+

Unpivoted DataFrame:
+--------------------+---------+--------------------+
|                 Age| Platform|avg_daily_usage_time|
+--------------------+---------+--------------------+
|                  29|Instagram|                NULL|
|                  29| Facebook|   70.88235294117646|
|                  29|  Twitter|                95.0|
| ite mevcut veri...|Instagram|                NULL|
| ite mevcut veri...| Facebook|                NULL|
| ite mevcut veri...|  Twitter|                NULL|
|                  30|Instagram|               175.0|
|                  30| Facebook|                NULL|
|                  30|  Twitter|   83.33333333333333|
|                  34|Instagram|               120.0|
|                  34| Facebook|                NULL|
|                  34|  Twitter|                NULL|
|                  22|Instagram|               147.5|
|                  22| Facebook|                65.0|
|                  22|  Twitter|                70.0|
|                  28|Instagram|  170.35714285714286|
|                  28| Facebook|               100.0|
|                  28|  Twitter|   97.77777777777777|
|                  35|Instagram|               125.0|
|                  35| Facebook|                NULL|
+--------------------+---------+--------------------+
only showing top 20 rows